export(addIBslot)
export(ATM_k)
export(ATMQuote)
export(buildIBcontract)
export(conId)
export(conId.default)
export(conId.twsContract)
export(conId.twsInstrument)
export(Contr_From_Instr)
export(define_futures)
export(define_futures.IB)
export(define_FX)
export(define_options)
export(define_options.IB)
export(define_options.yahoo)
export(define_stocks)
export(eWrapper.data.BID_ASK_OHLCV)
export(eWrapper.FXdata)
export(front_future)
export(front_future.IB)
export(future_id)
export(getBAT)
export(getContract)
export(getIBEquities)
export(get_quote)
export(get_quote.IB)
export(get_quote.yahoo)
export(has.Mid)
export(Instr_From_Contr)
export(instrument.tws)
export(is.twsInstrument)
export(loadInstruments)
export(ls_AUD)
export(ls_bonds)
export(ls_by_currency)
export(ls_by_expiry)
export(ls_CAD)
export(ls_calls)
export(ls_CHF)
export(ls_currencies)
export(ls_defined.by)
export(ls_derivatives)
export(ls_EUR)
export(ls_exchange_rates)
export(ls_expires)
export(ls_expiries)
export(ls_funds)
export(ls_futures)
export(ls_future_series)
export(ls_GBP)
export(ls_guaranteed_spreads)
export(ls_HKD)
export(ls_IB)
export(ls_instruments)
export(ls_instruments_by)
export(ls_JPY)
export(ls_non_currencies)
export(ls_non_derivatives)
export(ls_non_twsInstruments)
export(ls_NZD)
export(ls_options)
export(ls_option_series)
export(ls_puts)
export(ls_SEK)
export(ls_spreads)
export(ls_stocks)
export(ls_strikes)
export(ls_synthetics)
export(ls_twsInstruments)
export(ls_underlyings)
export(ls_USD)
export(ls_yahoo)
export(Mid)
export(option_id)
export(rm_bonds)
export(rm_by_currency)
export(rm_by_expiry)
export(rm_currencies)
export(rm_derivatives)
export(rm_exchange_rates)
export(rm_funds)
export(rm_futures)
export(rm_future_series)
export(rm_instruments)
export(rm_non_derivatives)
export(rm_non_twsInstruments)
export(rm_options)
export(rm_option_series)
export(rm_spreads)
export(rm_stocks)
export(rm_synthetics)
export(rm_twsInstruments)
export(saveInstruments)
export(twsClock)
export(twsInstrument)
export(update_instruments.all)
export(update_instruments.IB)
export(update_instruments.TTR)
export(update_instruments.yahoo)
