export(addIBslot)
export(ATM_k)
export(ATMQuote)
export(buildIBcontract)
export(conId)
export(ConnectIB)
export(Contr_From_Instr)
export(define_futures)
export(define_futures.IB)
export(define_FX)
export(define_options)
export(define_options.IB)
export(define_options.yahoo)
export(define_stocks)
export(eWrapper.data.BID_ASK_OHLCV)
export(eWrapper.FXdata)
export(front_future)
export(front_future.IB)
export(future_id)
export(getBAT)
export(getContract)
export(get_from)
export(getIBEquities)
export(get_quote)
export(get_quote.IB)
export(get_quote.yahoo)
export(getQuote.yahoo)
export(get_to)
export(has.Mid)
export(Instr_From_Contr)
export(instrument.tws)
export(is.twsInstrument)
export(ls_defined.by)
export(ls_IB)
export(ls_non_twsInstruments)
export(ls_twsInstruments)
export(ls_yahoo)
export(Mid)
export(option_id)
export(reqTBBO)
export(reqTBBOhistory)
export(rmContract)
export(rm_non_twsInstruments)
export(rm_twsInstruments)
export(twsClock)
export(twsInstrument)
export(update_instruments.all)
export(update_instruments.IB)
S3method(conId,default)
S3method(conId,twsContract)
S3method(conId,twsContractDetails)
S3method(conId,twsInstrument)
